{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
{% for message in get_flashed_messages() %}
	<p class="has-error">{{ message }}</p>
{% endfor %}
<form id="login-form" method="post" action="">
	<div class="form-group">
		<label for="email">Email:</label>
		<input class="form-control" name="email" type="text" placeholder="Your Email Address" />
	</div>
	<div class="form-group">
		<label for="password">Password:</label>
		<input class="form-control" name="password" type="password" placeholder="Password" />
	</div>
	<button class="form-control" type="submit" class="btn btn-default">Submit</button>
</form>
<p><a href="{{ url_for('users.forgot_password') }}">Forgot password?</a></p>
<p><strong>This site is invitation only.</strong> For an invitation please email <a href="mailto:{{ config.get('ADMIN_EMAIL') }}">{{ config.get('ADMIN_EMAIL') }}</a></p>
{% endblock %}
