{% extends "base.html" %}

{% block content %}
<h1>Add new link</h1>
{% for message in get_flashed_messages() %}
    <p class="has-error">{{ message }}</p>
{% endfor %}
{% if link %}
    <div class="form-inline"
        <label for="short-link">Your link is:</label>
        <input type="text" name="short-link" value="{{ config.get('DOMAIN_NAME') }}{{ link.slug }}" class="form-control" id="short-link"/>
        <span onClick="this.previousElementSibling.select();" class="clipboard"></span>
    </div>
{% endif %}
<form id="links-form" method="post" action="{{ url_for('links.add') }}">
    <div class="form-group">
        <label for="url">Url</label>
        <input class="form-control" id="url" name="url" type="text" placeholder="http://example.com" />
    </div>
    <button type="submit" class="btn btn-warning form-control">Submit</button>
</form>
{% endblock %}
