{% extends "base.html" %}

{% block content %}
<h1>Add new link</h1>
{% for message in get_flashed_messages() %}
    <p class="has-error">{{ message }}</p>
{% endfor %}
{% if link %}
    <p>Your link is: <strong><a href="{{ config.get('DOMAIN_NAME') }}{{ link.slug }}">{{ config.get('DOMAIN_NAME') }}{{ link.slug }}</a></strong></p>
{% endif %}
<form id="links-form" method="post" action="">
    <div class="form-group">
        <label for="url">Url</label>
        <input class="form-control" name="url" type="text" placeholder="http://example.com" />
    </div>
    <button class="form-control" type="submit" class="btn btn-warning">Submit</button>
</form>
{% endblock %}
