{% extends "base.html" %}

{% block content %}
<h1>Your Links</h1>
{% if links %}
    <table class="table link-table">
        <thead>
            <tr>
                <th>Url</th>
                <th>Shortened Link</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
                <tr>
                    <td><a href="{{ config.get('DOMAIN_NAME') }}{{ link.url }}">{{ link.url }}</a></td>
                    <td>
                        <div class="form-inline">
                            <input type="text" name="short-link" value="{{ config.get('DOMAIN_NAME') }}{{ link.slug }}" class="form-control" />
                            <span onClick="this.previousElementSibling.select();" class="clipboard"></span>
                        </div>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Your don't appear to have any links. <a href="{{ url_for('links.add') }}">Click here</a> to add a link.</p>
{% endif %}

{% endblock %}
